<div class="divider"></div>
<footer class="page-footer footer">
    <div class="row">
      <div class="col l4 s10 offset-s1 offset-l1">
        <h5>Dr. Lauren Kealy</h5>
        <p>Here is basic info about you or if you prefer you can do a blurb about your core values. Your pick</p>
      </div>
      <div class="col l2 offset-l1 s12 ">
        <h5>Social Media</h5>
        <ul>
          <li><a href="#!"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a href="#!"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a href="#!"><i class="fa fa-twitter"></i> Twitter</a></li>

        </ul>
      </div>
      <div class="col l2 offset-l1 s12 ">
        <h5>Contact US</h5>
        <ul>
          <li><a href="#!"><i class="fa fa-map-marker"></i> 5043 Akron St, <br>  Denver CO 80238</a></li>
          <li><i class="fa fa-mobile"></i> <a href="tel:+7206631937"> 720-663-1937</a></li>
          <li><i class="fa fa-envelope-o"></i>
 <%= mail_to "lauren@move-pt.com", "lauren@move-pt.com" %></li>

        </ul>
      </div>
    </div>
  <div class="footer-copyright copy">
    <div class="container">
    © 2015 Move PT LLC
    <a class="right" href="#!">More Links</a>
    </div>
  </div>
</footer>