<div class="col s12 l12" id="carousel-images">
  <%= render "partials/carousel" %>
</div>
<div class="row section center-align blurbs">
  <div class="col s12 m6 l6">
      <h4 class="header light">Keep Going.</h4>
      <p>One WOD does not fit all. Our mission here at Move is to keep you moving pain free through personalized assessments and education. We conduct sport specific movement screens that analyze a mix of functional movements, joint and muscle strength, and past injuries to provide you with a personalized injury prevention plan. Whether your sport is walking the dog around the neighborhood or swinging the heaviest kettle bell you can find, we can help you understand your body better to prevent injury and achieve your goals. Book an appointment online today!</p>
  </div>
  <div class="col s12 m6 l6">
    <h4 class="header light">Move on the Move</h4>
    <p>Let our team come to your team. Fear of injury ranks near the top of the list on why individuals don’t join a team or gym. Give your current and future members piece of mind by partnering with Move to provide the best care in injury prevention. Group assessments are available. Connect with us to learn more on how we can work together. </p>
  </div>
</div>
<div class="row center-align">
  <div class="col s12 m6 l6 ">
      <h4 class="header light">Classes and Events</h4>
      <p>Be sure to check out our events calendar tab for classes or seminars on varying topics. We talk about anything from shoulder injuries in overhead athletes to how to best recovery from childbirth. We run the gamut on topics!  </p>
  </div>
  <div class="col s12 m6 l6">
    <h4 class="header light">Giving Back</h4>
    <p>We believe that everyone should be empowered to live a healthy lifestyle and that is why Move helps out at community health fairs and donates a percentage of profits to like-minded charities and programs. By supporting Move, you’re supporting the local community. </p>
  </div>
</div>
<div class="divider"></div>
<!-- <div class="container center-align testimonials">
  <div class="row">
  <h4 class="header light">Customer Testimonials</h4>
    <div  class="test" id="testimonial1">
      <p><em>“Lauren served as our team therapist during the Race Across America (a 3,000 mile bicycle race) and I can honestly say that her expertise kept me on the road pain free. Lauren was able to quickly assess any irritation or ache and was ready with a treatment that worked every time. She went beyond the immediate treatment and offered suggestions which will help me in the future as I continue a very active lifestyle.  I am impressed with Lauren's depth of knowledge, insight, and strength (!) and would highly recommend her to anyone who is looking to maintain a healthy body for the longterm.”</em> <strong>–Julie Lyons, Love Sweat & Gears Cycling Team</strong></p>
    </div>
    <div  class="test" id="testimonial2">
      <p><em>"Lauren's professionalism and knowledge put me at ease every time I came off my bike during Race Across America.  She asked all the right questions and was so observant, she pretty much knew the answers to her questions before I answered them (which also meant I couldn't "pretend" something was fine when it wasn't).  Lauren is a spectacular Physical Therapist with a fresh perspective and attitude that is tough to find."</em>  <strong>~ Susie Wargin</strong></p>
    </div>
  </div>
</div> -->
<div class="container center-align testimonials">
  <h4 class="header light">Customer Testimonials</h4>
  <div id="cust1">
    <p><em>“Lauren served as our team therapist during the Race Across America (a 3,000 mile bicycle race) and I can honestly say that her expertise kept me on the road pain free. Lauren was able to quickly assess any irritation or ache and was ready with a treatment that worked every time. She went beyond the immediate treatment and offered suggestions which will help me in the future as I continue a very active lifestyle.  I am impressed with Lauren's depth of knowledge, insight, and strength (!) and would highly recommend her to anyone who is looking to maintain a healthy body for the longterm.”</em> <strong>–Julie Lyons, Love Sweat & Gears Cycling Team</strong></p>
  </div>
  <div id="cust2">
    <p><em>"Lauren's professionalism and knowledge put me at ease every time I came off my bike during Race Across America.  She asked all the right questions and was so observant, she pretty much knew the answers to her questions before I answered them (which also meant I couldn't "pretend" something was fine when it wasn't).  Lauren is a spectacular Physical Therapist with a fresh perspective and attitude that is tough to find."</em>  <strong>~ Susie Wargin</strong></p>
  </div>
</div>

