<div class="container">
  <div class="row center-align">
    <h2>Locations</h2>  
    <div class="divider"></div>
    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src= <%="https://www.google.com/maps/embed/v1/place?key=#{ENV['google_map_key']}&q=3700+Havana+St+%23218,+Denver,+CO+80239"%>>
</iframe>
  </div>
</div>

    