@import "font-awesome-sprockets";
@import "font-awesome";
@import "materialize/components/color";
$primary-color: white !default;
@import "materialize";


$primary-text: #2d2d2d;
$primary-body: #EF2C32;

body {
  padding-top: 70px;
}

#schedule {
  color: $primary-body !important;
}

.navbar a:link {
  color: $primary-text;
}

.navbar-static-top {
  position: fixed;
  z-index: 4;
  top: 0vh;
}

.img-pad {
  margin-top: 2vh;
}

a.modal-trigger {
  color: $primary-text !important;
}

.modal-content {
  padding: 10 0 0 0 !important;
}

nav a {
  color: $primary-text;
}

nav ul a {
  color: $primary-text;
}
.nav-wrapper i {
  color: $primary-text;
}

footer i {
  color: $primary-body;
 }

footer a {
  color: $primary-body;
 }

 .copy {
  color: $primary-text !important;
 }

 .footer {
  color: $primary-text;
 }

nav {
  height: 70px;
}

.active {
  background-color:  $primary-body !important;
}

.blurbs {
  margin-top: 5vh;
}

.big-logo {
  width: 70vh;
}

.bw {
  padding-top: 7vh;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.bw:hover {
  -webkit-filter: grayscale(0%);
}


